.movie__app{
    padding : 120px 0px 80px 0;
    background : url(../../img/backapp.jpg);
    background-size : contain;
    p{
        color : white;
    }
    .mainMaxWidth{
        width : 940px;
        margin : auto;
    }
}